body{
    background-color: #565d63;
    /*hello*/
}
.container{
    max-width: 100%;
    padding-top: 31px;
    padding-left: 22.5%;
    padding-right: 22.5%;  
    background-color: #565d63;

}
.row{
    position: relative;
}
footer a{
    color: #fff;
    font-size: 11px;
    font-weight:600;
    padding: 2px;
}
footer a:hover{
    color: orangered;
}
footer{
    position: absolute;
    top:34%;
    left: 16.5%;
    line-height: 15px;
}
.paragraph{
    position: absolute;
    top: 69%;
    left: 31.5%;
    font-size: 11.6px;
    line-height: 15px;
    font-weight: 590.999;
}
p a:hover{
    color: #b62811;
}
/* next */

.side-bar{
    background-color:rgba(209,138,106,1) ;
    width:110px;
    height: 100%;
}
.design-name{
    color:  white;
    font-size: 12px;
    text-decoration: none;
    line-height: 20%;
    text-align: center;
}
.designer-name{
    color: black;
    text-decoration: none;
    font-size: 12px;
}
 
ul li{
    list-style: none; 
    font-size: 12px;
}
.side-bar ul{
    text-align: center;
    padding: 0px 10px !important;
}

.b1{
    border: 1px solid beige;
}


.col-10 {
    /* flex: 0 0 auto; */
    width: 83.99999999%;
    padding-left: 0px;
    padding-right: 7px;
}
.col-2 {
    width: 15.86666667%;
}
.zen-resources ul li{
    display: inline-block;
}
.zen-resources ul{
    background-color: #b62811;
    padding-left: 5px;
    margin-bottom: 0%;
    margin-right: 2px !important;
}
.li{
    color: white;
    text-decoration: none;
    
}
.c-10{
    display: flex;
    padding-left: 0%;
    height: 310px;
    width: 630px;
}
.c-1{
    width: 110px;
    background-color: #b5bb7d;
    flex-wrap: wrap;
}
.c-2{
    width: 331px;
    background-color: #537e53;
    flex-wrap: wrap;
}
.c-2 p{
    font-weight: 500;
    padding: 0px 20px 0px 20px;
    color: #fff;
    font-size: 0.8em;
    line-height: 140%;
}
.c-3{
    width: 189px;
    flex-wrap: wrap;
    background-color: #b5bb7d;
}
.c-3 img{
    padding-top: 20px;
}

.ch-1{
    background-color: #fac46c;
}
#ch-1{
    background-color: #b62811;
    padding: 2px;
}
.ch-3 {
    width: 189px;
    flex-wrap: wrap;
    background-color: #FFFFCD ;
}
.explanation p{
    font-size: 0.8em;
    line-height: 140%;
    font-weight: 500;
}
.participation{
    width: 441px;
    background-color: #b5bb7d;
    height: 397px;
}
.ch-33{
    width: 189px;
    flex-wrap: wrap;
    background-color: #fac46c;
}
.participation p a {
    color: #fff;
}

.participation p ,.benefits p ,.requirements p{
    font-size: 0.8em;
    line-height: 140%;
    font-weight: 500;
}
.ch-3 img,.ch-33 img,.cc-10 img,.ch-333 img {
    padding-top: 25px;
}

.cc-10{
    display: flex;
    padding-left: 0%;
    height: 397px;
    width: 630px;
}
.benefits{
    background-color: #fac46c;
}
.ch-333{
    width: 189px;
    flex-wrap: wrap;
    background-color: #ffffcd;
}
.ccc-10{
    display: flex;
    padding-left: 0%;
    height: 152px;
    width: 630px;
}
.requirements{ 
    background-color: #b5bb7d ;
}
.c4-10{
    display: flex;
    padding-left: 0%;
    height: auto;
    width: 630px;
}
.requirements p{
    padding: 25px 20px 0px 80px;
}
.requirements p a{
    color: #fff;
}
.requirements p a:hover,.participation p a:hover {
    color: #b62811;
}


.foot{
    padding: 10px;
    background-color: #B62814;
}
